
/* Toolbar */
#placesToolbar {
  border: none;
  min-height: 36px;
}

/* back & forward buttons */
#back-button, #forward-button {
  list-style-image: url(libraryNavigation.png);
  -moz-appearance: none;
  padding: 0px 2px;
  border: none;
}

#placesToolbar > toolbarbutton > image,
#placesToolbar > toolbarbutton > label {
  margin: 0;
  padding: 0;
}

#back-button {
  margin-inline-start: 8px;
}

#forward-button {
  margin-inline-end: 8px;
}

#back-button,
#forward-button[chromedir="rtl"] {  
  -moz-image-region: rect(0px, 24px, 24px, 0px);
}
#back-button:not([disabled="true"]):hover,
#forward-button:not([disabled="true"]):hover[chromedir="rtl"] {
  -moz-image-region: rect(24px, 24px, 48px, 0px);
}
#back-button[disabled="true"],
#forward-button[chromedir="rtl"][disabled="true"] {
  -moz-image-region: rect(48px, 24px, 72px, 0px) !important;
}
#back-button:not([disabled="true"]):hover:active,
#forward-button:not([disabled="true"]):hover:active[chromedir="rtl"] {
  -moz-image-region: rect(72px, 24px, 96px, 0px);
}

#forward-button,
#back-button[chromedir="rtl"] {
  -moz-image-region: rect(0px, 48px, 24px, 24px);
}
#forward-button:not([disabled="true"]):hover,
#back-button:not([disabled="true"]):hover[chromedir="rtl"] {
  -moz-image-region: rect(24px, 48px, 48px, 24px);
}
#forward-button[disabled="true"],
#back-button[chromedir="rtl"][disabled="true"] {
  -moz-image-region: rect(48px, 48px, 72px, 24px) !important;
}
#forward-button:not([disabled="true"]):hover:active,
#back-button:not([disabled="true"]):hover:active[chromedir="rtl"] {
  -moz-image-region: rect(72px, 48px, 96px, 24px);
}

/* Menu */
#placesMenu {
  -moz-appearance: none;
  border: none;
  background-color: transparent;
}

#placesMenu > menu {
  -moz-appearance: none;
  color: black;
  border: 1px solid transparent;
}

#placesMenu > menu:hover {
  border-color: white #808080 #808080 white;
}

#placesMenu > menu[open="true"] {
  border-color: #808080 white white #808080;
}

#placesMenu > menu > label {
  padding-inline-end: 8px;
  background: url(chrome://global/skin/arrow/arrow-dn.gif) right center no-repeat;
}

#placesMenu[chromedir="rtl"] > menu > label {
  background-position: left center;
}

#placesToolbar > toolbarbutton[type="menu"] {
  margin-inline-start: 5px;
  padding-inline-end: 10px;
}

/* organize button */
#organizeButton {
  list-style-image: url("chrome://browser/skin/places/organize.png");
}

/* view button */
#viewMenu {
  list-style-image: url("chrome://browser/skin/places/view.png");
}

/* maintenance button */
#maintenanceButton {
  list-style-image: url("chrome://browser/skin/places/importAndBackup.png");
}

/* Root View */
#placesView {
  border-top: 1px solid #404040;
}

/* Place List, Place Content */
.placesTree {
  margin: 0px;
}

#placesList {
  -moz-appearance: none;
  margin: 0px;
  border: none;
  padding: 0;
}

#placeContent {
  -moz-appearance: none;
  border: 0px;
}

/* Search Bar */
#searchbar {
  margin: 6px -4px 0px 2px;
}

/* Info box */
#detailsDeck {
  border-top: 1px solid ThreeDShadow;
  padding: 5px;
}

#infoBoxExpanderLabel {
  padding-inline-start: 2px;
}

#searchFilter {
  margin: 0;
}

/**
 * Downloads pane
 */

#clearDownloadsButton > .toolbarbutton-icon {
  display: none;
}

#clearDownloadsButton {
  padding-inline-start: 9px;
  padding-inline-end: 9px;
}

.textbox-input-closebutton {
  -moz-appearance: none;
  margin: 1px 2px 1px 1px;
  min-width: 0;
  background-color: transparent;
  border: none;
  padding: 0 !important;
  list-style-image: url("chrome://global/skin/icons/close.png");
  -moz-image-region: rect(0px 14px 14px 0px);
  width: 14px;
  height: 14px;
  cursor: default;
}

.textbox-input-closebutton > .button-box {
  margin: 0;
  padding: 0;
  border: 0;
}

.textbox-input-closebutton:hover {
  -moz-image-region: rect(0px 28px 14px 14px);
}

.textbox-input-closebutton:hover:active {
  -moz-image-region: rect(0px 42px 14px 28px);
}

.small {
  font-size: x-small;
  min-width: 0px;
  padding: 0px 2px;
  margin: 0px;  
  border: 3px solid;
  -moz-border-top-colors: #000000 #bbc6c6 #b1bbbb;
  -moz-border-right-colors: #000000 #a2aeae #a7b4b4;
  -moz-border-bottom-colors: #000000 #97a6a6 #9daaaa;
  -moz-border-left-colors: #000000 #bbc6c6 #b1bbbb;
  -moz-border-radius: 2px;
}

.small:hover:active,
.small[open="true"],
.small[checked="true"] {
  -moz-border-top-colors: #000000 #829090 #899a9a;
  -moz-border-right-colors: #000000 #829090 #899a9a;
  -moz-border-bottom-colors: #000000 #829090 #899a9a;
  -moz-border-left-colors: #000000 #829090 #899a9a;
}

button[disabled="true"] {
  -moz-border-top-colors: #829090 #c6cdcd #bcc5c5 !important;
  -moz-border-right-colors: #829090 #a9b5b5 #b2baba !important;
  -moz-border-bottom-colors: #829090 #a9b5b5 #b2baba !important;
  -moz-border-left-colors: #829090 #c6cdcd #bcc5c5 !important;
}

#searchFilter {
  padding: 0px;
}

#searchFilter .textbox-input-box {
  padding: 2px 2px 3px 4px;
}


#organizerScopeBar {
  padding: 2px 0;
  padding-inline-end: 3px;
}

#organizerScopeBar > toolbarbutton {
  -moz-appearance: none;
  border: 1px solid transparent;
  -moz-border-radius: 2px;
  padding: 0 !important;
  margin: 0 1px;
}

#organizerScopeBar > toolbarbutton > label,
#organizerScopeBar > toolbarbutton > image {
  padding: 0;
  margin: 0;
}

#organizerScopeBar .toolbarbutton-text {
   margin: 0;
   padding: 2px 5px;
}

#organizerScopeBar > toolbarbutton:not([disabled="true"]):not([checked="true"]):hover {
  border-color: #808080;
}

#organizerScopeBar > toolbarbutton[checked="true"] {
  border-color: #404040 !important;
}
